
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <title>About | Rwanda250 Official Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>

  <body>

    

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="well">
              <h2 class="page-header">About Us</h2>
                <p>Dining options include a sit-down restaurant, full-service sports bar and quick-service pizza counter. There's space for corporate events and birthday parties too.</p>

            <p>Admission is free, but like at local competitors Dave & Buster's and Scene75, patrons purchase a re-loadable card to spend on activities, games and food.</p>

            <p>Hours are from 10 a.m.-2 a.m. Monday and Friday, 10 a.m. to midnight Tuesday through Thursday and Sunday, and 9 a.m.-2 a.m. on Saturday.

            Avon is Main Event's 41st fun center in the country. The other Ohio location is in Cincinnati.</p>

            <p>Dining options include a sit-down restaurant, full-service sports bar and quick-service pizza counter. There's space for corporate events and birthday parties too.</p>

            <p>Admission is free, but like at local competitors Dave & Buster's and Scene75, patrons purchase a re-loadable card to spend on activities, games and food.</p>

            <p>Hours are from 10 a.m.-2 a.m. Monday and Friday, 10 a.m. to midnight Tuesday through Thursday and Sunday, and 9 a.m.-2 a.m. on Saturday.

            Avon is Main Event's 41st fun center in the country. The other Ohio location is in Cincinnati.</p>

                </div>
          </div>
          

        </div>

      </div>

    </section>

    